---
import { Image } from "@avaya/neo-react";
import {
  Description,
  ColumnLayout,
  PageleteSection,
  SectionHeader,
  SubHeader,
  InfoTable,
  InfoTableBody,
  InfoTableCell,
  InfoTableRow,
  StackedLayout,
} from "components/astro";

import { DoAndDont } from "components/react";

import { topics } from "../static";

import StandaloneIconDefault from "../imgs/link-standalone-icon-1.svg";
import StandaloneIconHover from "../imgs/link-standalone-icon-2.svg";
import StandaloneIconDisabled from "../imgs/link-standalone-icon-3.svg";

import InlineUsageImageDo from "../imgs/link-inline-do-1.svg";
import InlineUsageImageDont from "../imgs/link-inline-dont-1.svg";

const inlineUsageImgDoAltText = "Use blue underlined text for inline links.";

const inlineUsageImgDontAltText =
  "Do not include inline links that are not underlined. ";

const { id, title } = topics.behavior;

import StandaloneUsageImageDo from "../imgs/link-standalone-do-1.svg";
import StandaloneUsageImageDont from "../imgs/link-standalone-dont-1.svg";

const standaloneUsageImgDoAltText =
  "Use links in a list or on their own without an underline.";
const standaloneUsageImgDontAltText = "Do not underline standalone links.";
---

<PageleteSection>
  <SectionHeader id={id}>
    {title}
  </SectionHeader>

  <Description>Lorem ipsum</Description>
  <SubHeader id="behavior-standalone-link">Standalone Link</SubHeader>
  <Description>
    Use a Standalone link whenever you need to provide navigation options that
    are not embedded into other text. Make sure that the link text is
    descriptive of where the user will be taken once selected.
  </Description>
  <Description>
    For accessibility, aria-text must be included that explains where the link
    goes, and also if there are associated actions, such as to download a PDF
    file, or go to a data entry screen.
  </Description>
  <DoAndDont>
    <DoAndDont.DoContainer instructions={standaloneUsageImgDoAltText}>
      <DoAndDont.ImageExampleContainer>
        <Image src={StandaloneUsageImageDo} alt={standaloneUsageImgDoAltText} />
      </DoAndDont.ImageExampleContainer>
    </DoAndDont.DoContainer>

    <DoAndDont.DontContainer instructions={standaloneUsageImgDontAltText}>
      <DoAndDont.ImageExampleContainer>
        <Image
          src={StandaloneUsageImageDont}
          alt={standaloneUsageImgDontAltText}
        />
      </DoAndDont.ImageExampleContainer>
    </DoAndDont.DontContainer>
  </DoAndDont>
  <SubHeader id="behavior-standalone-link-with-icon">
    Standalone Link with Icon
  </SubHeader>
  <Description>
    Standalone links can include an icon either in front of or at the end of the
    text. Only use icons for links that are for functions rather than for
    navigation. The icon must be representative of the action provided by the
    link.
  </Description>
  <Description>
    For accessibility, aria-text must be included that explains where the link
    goes, and also if there are associated actions, such as to download a PDF
    file, or go to a data entry screen.
  </Description>
  <ColumnLayout bkgColor="white" numOfColumns={3}>
    <StackedLayout vPadding="2.8rem" gap="2.8rem" showBorder>
      <div>Default</div>
      <Image
        src={StandaloneIconDefault}
        alt="Standalone Default Link with Icon"
      />
    </StackedLayout>

    <StackedLayout vPadding="2.8rem" gap="2.8rem" showBorder>
      <div>Hover</div>
      <Image src={StandaloneIconHover} alt="Standalone Hover Link with Icon" />
    </StackedLayout>

    <StackedLayout vPadding="2.8rem" gap="2.8rem" showBorder>
      <div>Disabled</div>
      <Image src={StandaloneIconDisabled} alt="Standalone Disabled Link Icon" />
    </StackedLayout>
  </ColumnLayout>
  <InfoTable isBulletedList>
    <InfoTableBody>
      <InfoTableRow>
        <InfoTableCell>
          1. <strong>Default</strong>: The default state of the Standalone link
          is blue text without any underlining.
        </InfoTableCell>
      </InfoTableRow>

      <InfoTableRow>
        <InfoTableCell>
          2. <strong>Hover</strong>: When the user moves focus onto the link, it
          becomes underlined. Selecting the link in this state will jump the
          user to the specified location.
        </InfoTableCell>
      </InfoTableRow>

      <InfoTableRow>
        <InfoTableCell>
          3. <strong>Disabled</strong>: A link that is disabled appears on the
          page, but is currently unavailable. For example, when something has to
          happen (i.e. create a user name, fill in a field) before the link
          becomes active.
        </InfoTableCell>
      </InfoTableRow>
    </InfoTableBody>
  </InfoTable>

  <SubHeader id="behavior-inline-link">Inline Link</SubHeader>
  <Description>
    Use an Inline link to offer navigation options to the user from within other
    text. Inline links are part of a sentence, rather than being independent,
    and are colored blue and underlined to help them stand out against the other
    text.
  </Description>
  <Description>
    Make sure that the link text is descriptive of where the user will be taken
    once selected.
  </Description>
  <Description>
    For accessibility, aria-text must be included that explains where the link
    goes, and also if there are associated actions, such as to download a PDF
    file or go to a data entry screen.
  </Description>
  <DoAndDont>
    <DoAndDont.DoContainer instructions={inlineUsageImgDoAltText}>
      <DoAndDont.ImageExampleContainer>
        <Image src={InlineUsageImageDo} alt={inlineUsageImgDoAltText} />
      </DoAndDont.ImageExampleContainer>
    </DoAndDont.DoContainer>

    <DoAndDont.DontContainer instructions={inlineUsageImgDontAltText}>
      <DoAndDont.ImageExampleContainer>
        <Image src={InlineUsageImageDont} alt={inlineUsageImgDontAltText} />
      </DoAndDont.ImageExampleContainer>
    </DoAndDont.DontContainer>
  </DoAndDont>
</PageleteSection>
