---
import { Image } from "@avaya/neo-react";

import { Description, PageleteSection, SectionHeader } from "components/astro";

import { DoAndDont } from "components/react";

import { NotificationInfoTable } from "pageletes/shared-pageletes";

import Color from "./BehaviorColor.astro";
import Dismissal from "./BehaviorDismissal.astro";
import Elevation from "./BehaviorElevation.astro";
import List from "./BehaviorList.astro";
import Overflow from "./BehaviorOverflow.astro";

import { topics } from "../static";

import behaviorDo from "../imgs/notification-behavior-do-1.svg";
import behaviorDont from "../imgs/notification-behavior-dont-1.svg";

const behaviorDoAltText =
	"Use notifications for priority items that need immediate attention.";
const behaviorDontAltText =
	"Do not use notifications for frequent actions. Use a <a class='neo-link--inline' href='/components/toast'>Toast</a> instead.";

const { id, title } = topics.behavior;
---

<PageleteSection>
  <SectionHeader id={id}>
    {title}
  </SectionHeader>

  <Description>Specific behaviors of a notification.</Description>

  <NotificationInfoTable />

  <DoAndDont>
    <DoAndDont.DoContainer instructions={behaviorDoAltText}>
      <DoAndDont.ImageExampleContainer>
        <Image src={behaviorDo.src} alt={behaviorDoAltText} />
      </DoAndDont.ImageExampleContainer>
    </DoAndDont.DoContainer>

    <DoAndDont.DontContainer instructions={behaviorDontAltText}>
      <DoAndDont.ImageExampleContainer>
        <Image src={behaviorDont.src} alt={behaviorDontAltText} />
      </DoAndDont.ImageExampleContainer>
    </DoAndDont.DontContainer>
  </DoAndDont>

  <Color />

  <Overflow />

  <Dismissal />

  <List />

  <Elevation />
</PageleteSection>
