---
import {
	InfoList,
	InfoListItem,
	PageleteSection,
	SectionHeader,
} from "components/astro";

export interface PageLink {
	title: string;
	href: string;
}

export interface SectionWithLinks {
	title: string;
	links: PageLink[];
}

export interface Props {
	id: string;
	title: string;
	sections: SectionWithLinks[];
}

const { id, title, sections } = Astro.props as Props;
---

<PageleteSection>
  <SectionHeader id={id}>{title}</SectionHeader>

  {
    sections.map((section) => (
      <>
        <h3 class="neo-semibold neo-body-large">{section.title}</h3>

        <InfoList>
          {section.links.map((link) => (
            <InfoListItem>
              <a href={link.href}>{link.title}</a>
            </InfoListItem>
          ))}
        </InfoList>
      </>
    ))
  }
</PageleteSection>
