---
import { CopyToClipboard } from "components/react";
import { Button } from "@avaya/neo-react";

export interface Props {
  id: string;
  link?: string;
}

const { id, link } = Astro.props as Props;
const { url } = Astro.request;

const fullSectionURL = `${url}#${id}`;
const componentLink = `components/${link}`;

const handleLinkClick = ()=> {
  console.log("navigating...");
  link && Astro.redirect(componentLink); // I'm not sure redirect() is the right api to use here.
};
---

<div class="section-header__wrapper">
  <h2 class="neo-bold" id={id}><slot /></h2>
  <CopyToClipboard text={fullSectionURL} client:load />
  {link && <Button size="compact" variant="secondary" onClick={handleLinkClick}>Visit <slot /> Component</Button>}
</div>

<style>
  h2.neo-bold {
    scroll-margin-top: 4rem;
  }
  .section-header__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .section-header__link {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }

  [dir="rtl"] .section-header__link {
    margin-left: 0px;
    margin-right: 0.5rem;
  }
</style>
