---
import { SectionLink } from "components/react";

export interface Props {
  id: string;
  marginTop? : string;
}

const { id, marginTop = "0px" } = Astro.props as Props;
const { url } = Astro.request;

const fullSectionURL = `${url}#${id}`;
---

<div class="section-header__wrapper">
  <h3 id={id}><slot /></h3>
  <a href={`#${id}`} class="section-header__link" tabindex="-1">
    <SectionLink url={fullSectionURL} client:load />
  </a>
</div>

<style is:global define:vars={{ marginTop}}>
  .section-header__wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    margin-top: var(--marginTop);
  }
  .section-header__link {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }

  [dir="rtl"] .section-header__link {
    margin-left: 0px;
    margin-right: 0.5rem;
  }
</style>
