---
import { Image } from "@avaya/neo-react";

import {
	Description,
	DoAndDont,
	ImageWrapper,
	PageleteSubSection,
	SubHeader,
} from "components";

import img1 from "./imgs/select-type-multiple-1.svg";
const img1alt =
	"Image showing an expanded select menu with checkboxes on the left side of each option";

import doImage from "./imgs/select-type-do-2.svg";
import dontImage from "./imgs/select-type-dont-2.svg";

const doInstructions =
	"Use the multiple select component when there is a long list of options and more than one can be selected, .";
const doImgAltText =
	"Image showing an open select menu with checkboxes on the left side of each option";

const dontInstructions =
	"Do not use multiple select for small lists of items. Use a <a class='neo-link neo-link__inline' href='/components/checkbox'>checkbox</a> instead.";
const dontImgAltText =
	"Image showing an open select menu with checkboxes on the left side of each option";
---

<PageleteSubSection>
  <SubHeader id="select-type-multi">Multiple Select</SubHeader>

  <Description>
    When the user can choose more than one item from the list, use the Multiple
    Select type. A checkbox in front of each menu item allows the user to pick
    one or more items. The menu closes when the user moves to another field, or
    clicks outside of the menu.
  </Description>

  <ImageWrapper marginBottom={"3rem"} padding="0">
    <Image src={img1.src} alt={img1alt} />
  </ImageWrapper>

  <DoAndDont>
    <DoAndDont.DoContainer instructions={doInstructions}>
      <DoAndDont.ImageExampleContainer>
        <Image src={doImage.src} alt={doImgAltText} />
      </DoAndDont.ImageExampleContainer>
    </DoAndDont.DoContainer>

    <DoAndDont.DontContainer instructions={dontInstructions}>
      <DoAndDont.ImageExampleContainer>
        <Image src={dontImage.src} alt={dontImgAltText} />
      </DoAndDont.ImageExampleContainer>
    </DoAndDont.DontContainer>
  </DoAndDont>
</PageleteSubSection>
