---
import { Image } from "@avaya/neo-react";
import {
  Description,
  ColumnLayout,
  ImageWrapper,
  PageleteSection,
  PageTitle,
} from "components/astro";

import { topics } from "../static";

import image1 from "../imgs/overview-1.svg";
import image2 from "../imgs/overview-2.svg";
import image3 from "../imgs/overview-3.svg";
import image4 from "../imgs/overview-4.svg";
import image5 from "../imgs/overview-5.svg";
import image6 from "../imgs/overview-6.svg";

const image1Alt = "Image showing a three concentric circles.";
const image2Alt =
  "Image showing a heart with a line through it, with two circles on each end.";
const image3Alt =
  "Image showing an arrow piercing the innermost of two concentric circles.";
const image4Alt =
  "Image showing two adjacent boxes, the left with an 'x' mark inside, and the right with a checkmark inside.";
const image5Alt = "Image showing crosshairs centered on a circle.";
const image6Alt =
  "Image showing a circle, a square, a triangle and a pentagon arranged equidistantly around a circle.";
---

<PageleteSection>
  <PageTitle>{topics.overview.title}</PageTitle>

  <Description>
    Avaya builds user-centric experiences. Our foundation is a collective
    approach to creating engaging, functional and reliable experiences through
    innovation, design and technology. We focus on understanding our users’
    workflows, needs and goals to create products that are easy to use,
    exceeding user expectations across all platforms. The Avaya Design Strategy
    is based on six foundational building blocks: Simple, Engaging, Effective,
    Usable, Aligned and Inclusive.
  </Description>

  <ColumnLayout showGridlines={false} gap="2rem" numOfColumns={2}>
    <ImageWrapper showBorders={true} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={image1.src} alt={image1Alt} />
    </ImageWrapper>
    <ImageWrapper showBorders={true} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={image2.src} alt={image2Alt} />
    </ImageWrapper>
  </ColumnLayout>

  <ColumnLayout
    showGridlines={false}
    gap="2rem"
    numOfColumns={2}
    marginTop={"1.5rem"}
  >
    <div>
      <h4 class="image-header">Simple</h4>
      <Description>
        Natural, familiar, and discoverable. Dynamically and contextually
        aligned to user needs.
      </Description>
    </div>
    <div>
      <h4 class="image-header">Engaging</h4>
      <Description>
        Creating emotional connections through thoughtful design of customer
        interaction across products.
      </Description>
    </div>
  </ColumnLayout>

  <ColumnLayout showGridlines={false} gap="2rem" numOfColumns={2}>
    <ImageWrapper showBorders={true} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={image3.src} alt={image3Alt} />
    </ImageWrapper>
    <ImageWrapper showBorders={true} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={image4.src} alt={image4Alt} />
    </ImageWrapper>
  </ColumnLayout>

  <ColumnLayout
    showGridlines={false}
    gap="2rem"
    numOfColumns={2}
    marginTop={"1.5rem"}
  >
    <div>
      <h4 class="image-header">Effective</h4>
      <Description>
        Trusted and reliable to facilitate teamwork, effective customer
        interactions and meaningful outcomes.
      </Description>
    </div>
    <div>
      <h4 class="image-header">Usable</h4>
      <Description>
        Driven by user needs, consistent design standards, and usability testing
        - not by opinions.
      </Description>
    </div>
  </ColumnLayout>

  <ColumnLayout showGridlines={false} gap="2rem" numOfColumns={2}>
    <ImageWrapper showBorders={true} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={image5.src} alt={image5Alt} />
    </ImageWrapper>
    <ImageWrapper showBorders={true} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={image6.src} alt={image6Alt} />
    </ImageWrapper>
  </ColumnLayout>

  <ColumnLayout
    showGridlines={false}
    gap="2rem"
    numOfColumns={2}
    marginTop={"1.5rem"}
  >
    <div>
      <h4 class="image-header">Aligned</h4>
      <Description>
        Targeted to product strategy, user profiles and platform conventions.
      </Description>
    </div>
    <div>
      <h4 class="image-header">Inclusive</h4>
      <Description>
        Empathetic by design – accessible, demographic, cultural, situational.
      </Description>
    </div>
  </ColumnLayout>
</PageleteSection>
