---
import {
  CollapsibleColumns,
  Description,
  Divider,
  ExternalLink,
  ImageWithCaption,
  InfoList,
  InfoListItem,
  PageleteSubSection,
  SubHeader,
} from "components";

import img1 from "../../imgs/product-development-keyboard-1.svg";
import img2 from "../../imgs/product-development-keyboard-2.svg";
import img3 from "../../imgs/product-development-keyboard-3.svg";
import img4 from "../../imgs/product-development-keyboard-4.svg";
---

<PageleteSubSection>
  <SubHeader id="ptg-development-keyboard">Keyboard</SubHeader>

  <Description>
    Users with limited mobility may navigate using the keyboard or other
    assistive technologies, such as switch devices and voice recognition. As
    these tools emulate keyboard functions, all elements within the application
    must be reachable using the keyboard alone. This applies to all devices
    including mobile.
  </Description>

  <CollapsibleColumns>
    <ImageWithCaption
      imgSrc={img1.src}
      imgAlt="Image showing the four arrow keys on a keyboard"
      captionTitle="Ensure All Interactive Elements Can Be Reached and Triggered Using a Keyboard"
    >
      Interactive components, such as buttons, form elements, and modals need to
      be reachable using the keyboard alone. They are activated using the
      spacebar, enter or arrow keys. Common interaction patterns can be found in
      the documentation for each Neo component, as well as in the Online
      Resources included below.
    </ImageWithCaption>

    <ImageWithCaption
      imgSrc={img2.src}
      imgAlt="Image showing a top nav with navigable links followed by a paragraph of text and then a focusable element"
      captionTitle="Use Logical Tab Order"
    >
      Users should be able to move between each item on the page in a logical
      fashion. Ensure the tab sequence follows a natural reading order, and
      touches each section in turn. Users must be able to navigate through all
      sections without skipping or getting trapped.
    </ImageWithCaption>
  </CollapsibleColumns>

  <CollapsibleColumns>
    <ImageWithCaption
      imgSrc={img3.src}
      imgAlt="Image showing a 'skip to main content' button"
      captionTitle="Enable Skip Navigation"
    >
      To help users easily access each section of the page, provide Quick Links
      (known as Skip Navigation) at the beginning of the tab order. However,
      landmarks must be configured first. Refer to the Online Resources for
      additional guidance.
    </ImageWithCaption>

    <ImageWithCaption
      imgSrc={img4.src}
      imgAlt="Image showing a visually focused element between two other elements"
      captionTitle="Ensure Visible Focus For Interactive Elements"
    >
      Each item that receives focus should have a ring that provides a clear
      visual indication of where the user currently is on the page. All Neo
      components have a blue focus ring incorporated by default.
    </ImageWithCaption>
  </CollapsibleColumns>

  <Divider />

  <CollapsibleColumns marginTop="1.5rem">
    <div>
      <b>Online Resources</b>

      <InfoList type="disc">
        <InfoListItem>
          <ExternalLink
            href="https://www.w3.org/WAI/WCAG21/Understanding/meaningful-sequence.html"
            inline={false}
          >
            WCAG Requirement 1.3.2 - Meaningful Sequence
          </ExternalLink>
        </InfoListItem>

        <InfoListItem>
          <ExternalLink
            href="https://www.w3.org/WAI/WCAG21/Understanding/keyboard.html"
            inline={false}
          >
            WCAG Requirement 2.1.1 - Keyboard
          </ExternalLink>
        </InfoListItem>

        <InfoListItem>
          <ExternalLink
            href="https://www.w3.org/WAI/WCAG21/Understanding/no-keyboard-trap.html"
            inline={false}
          >
            WCAG Requirement 2.1.2 - No Keyboard Trap
          </ExternalLink>
        </InfoListItem>

        <InfoListItem>
          <ExternalLink
            href="https://www.w3.org/WAI/WCAG21/Understanding/bypass-blocks"
            inline={false}
          >
            WCAG Requirement 2.4.1 - Bypassing Blocks
          </ExternalLink>
        </InfoListItem>

        <InfoListItem>
          <ExternalLink
            href="https://www.w3.org/WAI/WCAG21/Understanding/focus-order.html"
            inline={false}
          >
            WCAG Requirement 2.4.3 - Focus Order
          </ExternalLink>
        </InfoListItem>

        <InfoListItem>
          <ExternalLink
            href="https://www.w3.org/WAI/WCAG21/Understanding/focus-visible.html"
            inline={false}
          >
            WCAG Requirement 2.4.7 - Focus Visible
          </ExternalLink>
        </InfoListItem>

        <InfoListItem>
          <ExternalLink
            href="https://webaim.org/techniques/skipnav/"
            inline={false}
          >
            WebAIM Skip Navigation
          </ExternalLink>
        </InfoListItem>
      </InfoList>
    </div>

    <div></div>
  </CollapsibleColumns>
</PageleteSubSection>
