---
import { PageleteSection, SectionHeader } from "components";
import { updates } from "../releases/css-updates";
import chip from "../imgs/chip.svg";
import { Image } from "@avaya/neo-react";
---
<div class="change-log-tab-panel">
    {
        updates.map((releases, index) => (
            <PageleteSection marginBottom="0" marginTop={(index === 0) ? "48px" : "32px"}>
                <SectionHeader id={releases.date + "-css-update"}>
                    {releases.version + " " + releases.date + " "}
                    {
                        (index===0) ? 
                        <Image src={chip.src} alt="Newest version chip" />  : 
                        <></>
                    }
                </SectionHeader>

                {
                    releases.sections.map((section) => (
                        <h4 class="changelog-header">New Features - Recently Added</h4>
                        <ul>
                            {
                                (section.newFeatures.length > 0) ?
                                    section.newFeatures.map((point) => (
                                        <li><p class="changelog-point-text">{point}</p></li>
                                    )) :
                                    <li><p class="changelog-point-text">N/A</p></li>
                            }
                        </ul>

                        <h4 class="changelog-header">Breaking Change - Needs Immediate Attention</h4>
                        <ul>
                            {
                                (section.breakingChanges.length > 0) ?
                                    section.breakingChanges.map((point) => (
                                        <li><p class="changelog-point-text">{point}</p></li>
                                    )) :
                                    <li><p class="changelog-point-text">N/A</p></li>
                            }
                        </ul>
                        
                        <h4 class="changelog-header">Additional Changes - Update at Earliest Convenience</h4>
                        <ul>
                            {
                                (section.additionalChanges.length > 0) ?
                                    section.additionalChanges.map((point) => (
                                        <li><p class="changelog-point-text">{point}</p></li>
                                    )) :
                                    <li><p class="changelog-point-text">N/A</p></li>
                            }
                        </ul>

                        <h4 class="changelog-header">Bugs - Updated List</h4>
                        <ul>
                            {
                                (section.bugs.length > 0) ?
                                    section.bugs.map((point) => (
                                        <li><p class="changelog-point-text">{point}</p></li>
                                    )) :
                                    <li><p class="changelog-point-text">N/A</p></li>
                            }
                        </ul>

                        <h4 class="changelog-header">Sunsetting - Removing Full Support</h4>
                        <ul>
                            {
                                (section.sunsetting.length > 0) ?
                                    section.sunsetting.map((point) => (
                                        <li><p class="changelog-point-text">{point}</p></li>
                                    )) :
                                    <li><p class="changelog-point-text">N/A</p></li>
                            }
                        </ul>

                        <h4 class="changelog-header">Work In Progress - Future Updates</h4>
                        <ul>
                            {
                                (section.workInProgress.length > 0) ?
                                    section.workInProgress.map((point) => (
                                        <li><p class="changelog-point-text">{point}</p></li>
                                    )) :
                                    <li><p class="changelog-point-text">N/A</p></li>
                            }
                        </ul>
                    ))
                }
            </PageleteSection>
        ))
    }
</div>

<style>
    .change-log-tab-panel{
        width: 960px;
    }
</style>