---
import { PageleteSection, SectionHeader } from "components/astro";
import chip from "../imgs/chip.svg";
import { Image } from "@avaya/neo-react";
import { getGithubReleases, getOctokit } from "helpers";
import { ChangelogNotes } from "components/react";
const key =
  "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";
const octokit = getOctokit(key);
const releases = await getGithubReleases(octokit)
  .then((response) =>
    // valid tag name should start with v and followed by at least one digit
    response.filter((response) => /^[vV]\d+/.test(response.tag)),
  )
  .catch((error) => {
    console.error(error);
    return [];
  });
---

<div class="changelog-separator"></div>

<div>
  {
    releases.map((release, index) => (
      <PageleteSection
        marginBottom="0"
        marginTop={index === 0 ? "48px" : "32px"}
      >
        <SectionHeader id={`${release.date}-css-update`}>
          {`${release.version} ${release.date} `}
          {index === 0 && <Image src={chip.src} alt="Newest version chip" />}
        </SectionHeader>

        <ChangelogNotes githubReleaseTag={release.tag} client:load />
      </PageleteSection>
    ))
  }
</div>

<style>
  .changelog-separator {
    width: 100%;
    height: 1px;
    background-color: var(--neo-color-base-200);
  }
</style>
