---
import { Image } from "@avaya/neo-react";
import {
	InfoList,
	InfoListItem,
	PageleteSection,
	SectionHeader,
} from "components";
import chip from "../imgs/chip.svg";
import { DesignChangelog } from "./changelog/design";
---

<div class="changelog-separator"></div>

<div>
  {
    DesignChangelog.map((releases, index) => (
      <PageleteSection
        marginBottom="0"
        marginTop={index === 0 ? "48px" : "32px"}
      >
        <SectionHeader id={`${releases.date}-design-update`}>
          {`${releases.date} `}
          {index === 0 && <Image src={chip.src} alt="Newest version chip" />}
        </SectionHeader>

        {releases.sections.map((section) => (
          <>
            <h4 class="changelog-header">{section.header}</h4>
            <InfoList>
              {section.points.map((point) => (
                <InfoListItem>{point}</InfoListItem>
              ))}
            </InfoList>
          </>
        ))}
      </PageleteSection>
    ))
  }
</div>

<style>
  .changelog-separator {
    width: 100%;
    height: 1px;
    background-color: var(--neo-color-base-200);
    margin-bottom: 2rem;
  }

  .changelog-header {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
</style>
