---
import { Image } from "@avaya/neo-react";

import {
  Description,
  ImageWrapper,
  PageleteSubSection,
  SubHeader,
  ColumnLayout,
} from "components";

import mirroring1 from "../../imgs/localization-bidirectionality-mirroring-1.svg";
import mirroring2 from "../../imgs/localization-bidirectionality-mirroring-2.svg";
import mirroring3 from "../../imgs/localization-bidirectionality-mirroring-3.svg";
import mirroring4 from "../../imgs/localization-bidirectionality-mirroring-4.svg";
import mirroring5 from "../../imgs/localization-bidirectionality-mirroring-5.svg";
import mirroring6 from "../../imgs/localization-bidirectionality-mirroring-6.svg";
import mirroring7 from "../../imgs/localization-bidirectionality-mirroring-7.svg";

const mirroring1AltText = "Image showing mirrored text";
const mirroring2AltText = "Image showing mirrored icons";
const mirroring3AltText = "Image showing mirrored directional flow";
const mirroring4AltText = "Image showing mirrored images and icons";
const mirroring5AltText = "Image showing mirrored navigation";
const mirroring6AltText = "Image showing mirrored gestures";
const mirroring7AltText = "Image showing mirrored symbols";
---

<PageleteSubSection>
  <SubHeader id="localization-bidirectionality-mirroring">
    Mirroring Layout
  </SubHeader>

  <Description>
    The display of right-to-left language content can affect the layout, text
    and images. Content that is mirrored includes:
  </Description>

  <ColumnLayout numOfColumns={2} gap="2rem">
    <ImageWrapper showBorders={false} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={mirroring1.src} alt={mirroring1AltText} />
    </ImageWrapper>
    <ImageWrapper showBorders={false} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={mirroring2.src} alt={mirroring2AltText} />
    </ImageWrapper>
  </ColumnLayout>

  <ColumnLayout
    showGridlines={false}
    gap="2rem"
    numOfColumns={2}
    marginTop={"1.5rem"}
  >
    <div>
      <h4 class="image-header neo-bold">Text</h4>
      <Description>
        For languages that read RTL, right-align the text within each component.
      </Description>
    </div>
    <div>
      <h4 class="image-header neo-bold">Icon Placement</h4>
      <Description>
        Order of icons should match the way content is read (RTL).
      </Description>
    </div>
  </ColumnLayout>

  <ColumnLayout numOfColumns={2} gap="2rem">
    <ImageWrapper showBorders={false} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={mirroring3.src} alt={mirroring3AltText} />
    </ImageWrapper>
    <ImageWrapper showBorders={false} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={mirroring4.src} alt={mirroring4AltText} />
    </ImageWrapper>
  </ColumnLayout>

  <ColumnLayout
    showGridlines={false}
    gap="2rem"
    numOfColumns={2}
    marginTop={"1.5rem"}
  >
    <div>
      <h4 class="image-header neo-bold">Directional Flow</h4>
      <Description>Any sequence of events should be shown RTL.</Description>
    </div>
    <div>
      <h4 class="image-header neo-bold">Images & Icons</h4>
      <Description>
        Icons should match the direction that content is read (RTL).
      </Description>
    </div>
  </ColumnLayout>

  <ColumnLayout numOfColumns={2} gap="2rem">
    <ImageWrapper showBorders={false} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={mirroring5.src} alt={mirroring5AltText} />
    </ImageWrapper>
    <ImageWrapper showBorders={false} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={mirroring6.src} alt={mirroring6AltText} />
    </ImageWrapper>
  </ColumnLayout>

  <ColumnLayout
    showGridlines={false}
    gap="2rem"
    numOfColumns={2}
    marginTop={"1.5rem"}
  >
    <div>
      <h4 class="image-header neo-bold">Navigation</h4>
      <Description>
        Buttons and tabs should be shown in reverse order to match RTL reading
        pattern.
      </Description>
    </div>
    <div>
      <h4 class="image-header neo-bold">Gestures</h4>
      <Description>
        Interactions that contain forward or backward motion should be mirrored
        in RTL languages.
      </Description>
    </div>
  </ColumnLayout>

  <ColumnLayout numOfColumns={2} gap="2rem">
    <ImageWrapper showBorders={false} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={mirroring7.src} alt={mirroring7AltText} />
    </ImageWrapper>
  </ColumnLayout>

  <ColumnLayout
    showGridlines={false}
    gap="2rem"
    numOfColumns={2}
    marginTop={"1.5rem"}
  >
    <div>
      <h4 class="image-header neo-bold">Symbols</h4>
      <Description>
        Question marks are shown flipped for most RTL languages (with the
        exception of Hebrew).
      </Description>
    </div>
  </ColumnLayout>
</PageleteSubSection>
