---
import { Image } from "@avaya/neo-react";

import {
  Description,
  ImageWrapper,
  PageleteSubSection,
  SubHeader,
  ColumnLayout,
} from "components";

import notMirroring1 from "../../imgs/localization-bidirectionality-not-mirroring-1.svg";
import notMirroring2 from "../../imgs/localization-bidirectionality-not-mirroring-2.svg";
import notMirroring3 from "../../imgs/localization-bidirectionality-not-mirroring-3.svg";
import notMirroring4 from "../../imgs/localization-bidirectionality-not-mirroring-4.svg";

const notMirroring1AltText = "Image showing numbers";
const notMirroring2AltText = "Image showing untranslated text";
const notMirroring3AltText = "Image showing icons that do not convey direction";
const notMirroring4AltText = "Image showing passage of time";
---

<PageleteSubSection>
  <SubHeader id="localization-bidirectionality-not-mirroring">
    When Not to Mirror
  </SubHeader>

  <Description>
    In some situations, content should not be mirrored. These include:
  </Description>

  <ColumnLayout numOfColumns={2} gap="2rem" showRightBorder>
    <ImageWrapper showBorders={false} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={notMirroring1.src} alt={notMirroring1AltText} />
    </ImageWrapper>
    <ImageWrapper showBorders={false} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={notMirroring2.src} alt={notMirroring2AltText} />
    </ImageWrapper>
  </ColumnLayout>

  <ColumnLayout
    showGridlines={false}
    gap="2rem"
    numOfColumns={2}
    marginTop={"1.5rem"}
  >
    <div>
      <h4 class="image-header neo-semibold">Numbers</h4>
      <Description>For example clocks and phone numbers.</Description>
    </div>
    <div>
      <h4 class="image-header neo-semibold">Untranslated Text</h4>
      <Description>
        This is true even if it is part of a phrase that is in an RTL language.
      </Description>
    </div>
  </ColumnLayout>

  <ColumnLayout numOfColumns={2} gap="2rem" showRightBorder>
    <ImageWrapper showBorders={false} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={notMirroring3.src} alt={notMirroring3AltText} />
    </ImageWrapper>
    <ImageWrapper showBorders={false} marginTop={"0rem"} marginBottom={"0rem"}>
      <Image src={notMirroring4.src} alt={notMirroring4AltText} />
    </ImageWrapper>
  </ColumnLayout>

  <ColumnLayout
    showGridlines={false}
    gap="2rem"
    numOfColumns={2}
    marginTop={"1.5rem"}
  >
    <div>
      <h4 class="image-header neo-semibold">Icons that do not convey direction</h4>
      <Description>
        Icons that do not show direction or flow should not be flipped.
      </Description>
    </div>
    <div>
      <h4 class="image-header neo-semibold">Passage of Time</h4>
      <Description>This includes components such as media players.</Description>
    </div>
  </ColumnLayout>
</PageleteSubSection>
