---
import { Image } from "@avaya/neo-react";

import {
  ColumnLayout,
  Description,
  DoAndDont,
  PageleteSection,
  PageleteSubSection,
  SectionHeader,
  StackedLayout,
  SubHeader,
} from "components";

import { topics } from "../static";

const { id, title } = topics.behavior;

import doImage1 from "../imgs/switch-behavior-do-1.svg";
import dontImage1 from "../imgs/switch-behavior-dont-1.svg";
import doImage2 from "../imgs/switch-behavior-do-2.svg";
import dontImage2 from "../imgs/switch-behavior-dont-2.svg";
import labelImage1 from "../imgs/switch-behavior-label-1.svg";
import labelImage2 from "../imgs/switch-behavior-label-2.svg";

const do1Instructions = "Use a switch for turning features on and off.";
const doImg1AltText = "A toggled switch with the label 'Mute Audio'";

const dont1Instructions =
  "Do not use a switch for selecting items. Use the <a class='neo-link--inline' href='/components/checkbox'>Checkbox</a> instead.";
const dontImg1AltText =
  "A toggled switch with the label 'I agree to the terms and conditions'";

const do2Instructions =
  "Add a category label to a group of related switches to connect them together.";
const doImg2AltText =
  "A group of related switches connected by the label 'Meeting defaults'";

const dont2Instructions = "Do not add category labels to unrelated switches.";
const dontImg2AltText =
  "A group of unrelated switches connected by the label 'Features Enabled'";

const labelImage1AltText =
  "A toggled switch with the label 'Option' positioned to the right";
const labelImage2AltText =
  "A toggled switch with the label 'Option' positioned to the left";
---

<PageleteSection>
  <SectionHeader id={id}>
    {title}
  </SectionHeader>

  <Description>
    Switches are used to visually convey the state of a function and allow the
    user to change the state of that function. This will change the way the
    program operates, such as turning on dark mode or disabling notifications.
  </Description>

  <PageleteSubSection>
    <SubHeader id="switch-when-to-use">When To Use</SubHeader>

    <Description>
      Use a switch to toggle a function between two opposing states (e.g.
      on/off). The difference between a Switch and a Checkbox is that a Switch
      will trigger the change immediately when toggled. A Checkbox is part of a
      two-step process where the operator sets the checkbox state, then selects
      a submit function before the item becomes active.
    </Description>

    <DoAndDont>
      <DoAndDont.DoContainer instructions={do1Instructions}>
        <DoAndDont.ImageExampleContainer>
          <Image src={doImage1.src} alt={doImg1AltText} />
        </DoAndDont.ImageExampleContainer>
      </DoAndDont.DoContainer>

      <DoAndDont.DontContainer instructions={dont1Instructions}>
        <DoAndDont.ImageExampleContainer>
          <Image src={dontImage1.src} alt={dontImg1AltText} />
        </DoAndDont.ImageExampleContainer>
      </DoAndDont.DontContainer>
    </DoAndDont>

    <DoAndDont>
      <DoAndDont.DoContainer instructions={do2Instructions}>
        <DoAndDont.ImageExampleContainer>
          <Image src={doImage2.src} alt={doImg2AltText} />
        </DoAndDont.ImageExampleContainer>
      </DoAndDont.DoContainer>

      <DoAndDont.DontContainer instructions={dont2Instructions}>
        <DoAndDont.ImageExampleContainer>
          <Image src={dontImage2.src} alt={dontImg2AltText} />
        </DoAndDont.ImageExampleContainer>
      </DoAndDont.DontContainer>
    </DoAndDont>
  </PageleteSubSection>

  <PageleteSubSection>
    <SubHeader id="switch-label-location">Label Location</SubHeader>

    <Description>
      The switch should have a label that describes the function it controls.
      The label can appear to the left or to the right of the track.
    </Description>

    <ColumnLayout bkgColor="white" numOfColumns={2}>
      <StackedLayout label="Right Label">
        <Image src={labelImage1} alt={labelImage1AltText} />
      </StackedLayout>

      <StackedLayout label="left Label">
        <Image src={labelImage2} alt={labelImage2AltText} />
      </StackedLayout>
    </ColumnLayout>
  </PageleteSubSection>
</PageleteSection>
