---
import {
	CollapsibleColumns,
	Description,
	ImageWithCaption,
	PageleteSection,
	SectionHeader,
} from "components";

import image1 from "../imgs/typography-components-1.svg";
import image2 from "../imgs/typography-components-2.svg";
import image3 from "../imgs/typography-components-3.svg";

import { topics } from "../static";
---

<PageleteSection>
  <SectionHeader id={topics.typographyComponents.id}>
    {topics.typographyComponents.title}
  </SectionHeader>

  <Description>
    Using typography components correctly ensures a clean and consistent
    hierarchy throughout the user interface. Where possible, use the design
    tokens embedded inside the components.
  </Description>

  <CollapsibleColumns>
    <ImageWithCaption
      imgSrc={image1.src}
      imgAlt="Image showing icon top represent headings."
      captionTitle="Headings"
    >
      Headings are used to create visual hierarchies throughout the user
      interface. Heading 1 should only be used once per page.
    </ImageWithCaption>

    <ImageWithCaption
      imgSrc={image2.src}
      imgAlt="Image showing icon to represent body text."
      captionTitle="Body"
    >
      The Body style is used in components and for blocks of text.
    </ImageWithCaption>
  </CollapsibleColumns>

  <CollapsibleColumns>
    <ImageWithCaption
      imgSrc={image3.src}
      imgAlt="Image showing icon to represent captions."
      captionTitle="Captions"
    >
      Captions are used for adding extra information or smaller items in the
      hierarchy of text.
    </ImageWithCaption>

    <div></div>
  </CollapsibleColumns>
</PageleteSection>
