---
import { Button, Image } from "@avaya/neo-react";

import {
  Description,
  ColumnLayout,
  InfoTable,
  SectionHeader,
  StackedLayout,
  InfoTableBody,
  InfoTableRow,
  InfoTableCell,
} from "components/astro";
import { topics } from "./static";

import StateDefaultImage from "./button-imgs/states-default.svg";
import StateDisabledImage from "./button-imgs/states-disabled.svg";
import StateHoverImage from "./button-imgs/states-hover.svg";
import StatePressedImage from "./button-imgs/states-pressed.svg";

const defaultImageText =
  "Buttons with default state look like this";
---

<section>
  <SectionHeader id={topics.states.id}>{topics.states.title}</SectionHeader>

  <Description>
    Each button can exist in one of 4 states.
    The button’s state will change as the user moves around the screen.
  </Description>

  <ColumnLayout gap={"0"} numOfColumns={4}>
    <StackedLayout showBorder>
      <Image src={StateDefaultImage} alt={defaultImageText} />
    </StackedLayout>

    <StackedLayout showBorder>
      <Image src={StateHoverImage} alt={"Buttons with hover state look like this"} />
    </StackedLayout>

    <StackedLayout showBorder>
      <Image src={StatePressedImage} alt={"Buttons with pressed state look like this"} />
    </StackedLayout>

    <StackedLayout showBorder>
      <Image src={StateDisabledImage} alt={"Buttons with disabled state look like this"} />
    </StackedLayout>
  </ColumnLayout>

  <InfoTable>
    <InfoTableBody>
      <InfoTableRow>
        <InfoTableCell>Primary button</InfoTableCell>

        <InfoTableCell>
          Use these buttons to perform the most important action item on the
          current page. For example, Save or Continue. Too many Primary buttons
          can be confusing for the user, so only include one Primary button on
          each screen or region.
        </InfoTableCell>
      </InfoTableRow>

      <InfoTableRow>
        <InfoTableCell>Secondary button</InfoTableCell>

        <InfoTableCell>
          Secondaries offer alternate or opposite actions to the Primary. For
          example, Cancel, Back, or Reset. Multiple Secondary buttons can be
          used with each Primary.
        </InfoTableCell>
      </InfoTableRow>

      <InfoTableRow>
        <InfoTableCell>Tertiary button</InfoTableCell>

        <InfoTableCell>
          Use them on their own or pair them up with other buttons. Tertiary
          buttons contain the least important action items on the page.
        </InfoTableCell>
      </InfoTableRow>
    </InfoTableBody>
  </InfoTable>
</section>
