---
import { Link } from "@avaya/neo-react";

import {
  CollapsibleColumns,
  Description,
  ExternalLink,
  ImageWithCaption,
  InfoList,
  InfoListItem,
  PageleteSection,
  PageleteSubSection,
  SectionHeader,
  SubHeader,
} from "components";

import image1 from "../imgs/user-interface-1.svg";
import image2 from "../imgs/user-interface-2.svg";
import image3 from "../imgs/interactions-1.svg";
import image4 from "../imgs/interactions-2.svg";
import image5 from "../imgs/interactions-3.svg";
import image6 from "../imgs/interactions-4.svg";
import image7 from "../imgs/interactions-5.svg";

import { topics } from "../static";
const { id, title } = topics.ios;
---

<PageleteSection>
  <SectionHeader id={id}>{title}</SectionHeader>

  <Description>
    iOS is a mobile operating system created by Apple and used across their
    portable devices. An overview of iOS best practices can be found in Apple's <ExternalLink
      inline
      href="https://developer.apple.com/design/human-interface-guidelines"
    >
      Human Interface Guidelines
    </ExternalLink>.
  </Description>

  <PageleteSubSection>
    <SubHeader id="ios-user-interface">User Interface</SubHeader>

    <Description>
      Interactions such as display, responsiveness, accessibility and touch
      targets should follow iOS standards as well as the Neo guidelines outlined
      throughout the portal.
    </Description>

    <CollapsibleColumns>
      <ImageWithCaption
        imgSrc={image1.src}
        imgAlt="Graphic representing various elements."
        captionTitle="Native Elements"
      >
        Applications built for iOS should use native components wherever
        possible to ensure consistency across platforms, while leveraging
        built-in accessibility. Neo fonts, colors, and icons should be applied
        at the design token level where possible.
      </ImageWithCaption>

      <ImageWithCaption
        imgSrc={image2.src}
        imgAlt="Graphic representing icons."
        captionTitle="Icons"
      >
        All non-system icons used by iOS applications are available on the icons
        page.

        <InfoList>
          <InfoListItem>
            <Link href="/icons">View Icon Library</Link>
          </InfoListItem>
        </InfoList>
      </ImageWithCaption>
    </CollapsibleColumns>
  </PageleteSubSection>

  <PageleteSubSection>
    <SubHeader id="ios-interactions">Interactions</SubHeader>

    <Description>
      Interactions such as display, responsiveness, accessibility and touch
      targets should follow iOS standards as well as the Neo guidelines found
      throughout the portal.
    </Description>

    <CollapsibleColumns>
      <ImageWithCaption
        imgSrc={image3.src}
        imgAlt="Graphic representing responsive display sizes."
        captionTitle="Display and Responsive Size"
      >
        Layouts need to be flexible and responsive with scaling to match
        different screen sizes. Follow Apple's recommended layouts to ensure
        consistency across all platforms.

        <InfoList>
          <InfoListItem>
            <Link href="/guidelines/layout-grid">View Layout and Grid</Link>
          </InfoListItem>
        </InfoList>
      </ImageWithCaption>

      <ImageWithCaption
        imgSrc={image4.src}
        imgAlt="Graphic representing gesture interactions."
        captionTitle="Gestures"
      >
        Allow users to quickly and easily interact with the device using touch.
        Visual cues are provided in our products to indicate where a simple
        movement of the hand can control and trigger certain actions.
      </ImageWithCaption>
    </CollapsibleColumns>

    <CollapsibleColumns>
      <ImageWithCaption
        imgSrc={image5.src}
        imgAlt="Graphic representing accessibility."
        captionTitle="Accessibility"
      >
        iOS applications must be accessible to all users. Learn more with <ExternalLink
          inline
          href="https://developer.apple.com/accessibility/"
        >
          Apple's documentation
        </ExternalLink> and our accessibility guidelines.

        <InfoList>
          <InfoListItem>
            <Link href="/guidelines/accessibility">View Accessibility</Link>
          </InfoListItem>
        </InfoList>
      </ImageWithCaption>

      <ImageWithCaption
        imgSrc={image6.src}
        imgAlt="Graphic representing touch targets."
        captionTitle="Touch Targets"
      >
        Interactive controls, such as buttons, should have a minimum 48px x 48px
        tappable area making them easy to see and use, and to meet <ExternalLink
          href="https://developer.apple.com/design/human-interface-guidelines/accessibility"
          inline
        >
          Apple's specifications
        </ExternalLink>.
      </ImageWithCaption>
    </CollapsibleColumns>

    <CollapsibleColumns>
      <ImageWithCaption
        imgSrc={image7.src}
        imgAlt="Graphic representing keyboard keys."
        captionTitle="Keyboard Shortcuts"
      >
        Shortcuts created for an iOS or iPadOS application must not conflict
        with existing system shortcuts. Refer to the <ExternalLink
          inline
          href="https://support.apple.com/en-us/HT211096"
        >
          iPadOS page
        </ExternalLink> for a complete list.

        <InfoList>
          <InfoListItem>
            <Link href="/accessibility/keyboard-interactions">
              View Keyboard interactions
            </Link>
          </InfoListItem>
        </InfoList>
      </ImageWithCaption>

      <div></div>
    </CollapsibleColumns>
  </PageleteSubSection>
</PageleteSection>
