---
import { Image } from "@avaya/neo-react";
import {
  Caption,
  ColumnLayout,
  Description,
  ImageWrapper,
  PageleteSection,
  SectionHeader,
} from "components/astro";

import { topics } from "../static";

import image1 from "../imgs/sound-not-use-1.svg";
import image2 from "../imgs/sound-not-use-2.svg";

const image1Alt = "Image showing a megaphone with an x adjacent";
const image2Alt = "Image showing a mouse being clicked.";
---

<PageleteSection>
  <SectionHeader id={topics.whenNotToUse.id}>
    {topics.whenNotToUse.title}
  </SectionHeader>

  <Description>
    In many cases, sound may not be necessary and can be a hinderance if played
    too often.
  </Description>

  <ColumnLayout showGridlines={false} gap="2rem" numOfColumns={2}>
    <div>
      <ImageWrapper
        showBorders={true}
        marginTop={"0rem"}
        marginBottom={"1.5rem"}
      >
        <Image src={image1.src} alt={image1Alt} />
      </ImageWrapper>
      <Caption title="User Request">
        When the user requests not to have any unexpected interruptions, or
        specifically turns off a setting that allows for sound notifications, no
        audio should be played.
      </Caption>
    </div>
    <div>
      <ImageWrapper
        showBorders={true}
        marginTop={"0rem"}
        marginBottom={"1.5rem"}
      >
        <Image src={image2.src} alt={image2Alt} />
      </ImageWrapper>
      <Caption title="Frequent Actions">
        Actions that are performed often, such as selections and keyboard
        clicks, should not include audio feedback.
      </Caption>
    </div>
  </ColumnLayout>
</PageleteSection>
