---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;

import { NeoThemeProvider } from "@avaya/neo-react";

import { SiteHeader, SiteFooter, LeftNavigation } from "components";

import type { PageAstroInstance } from "components/react/utils";

import "@avaya/neo-react/avaya-neo-react.css";

const pages = (await Astro.glob<PageAstroInstance>("../**/*.astro"))
  .filter((page) => page.title)
  .map((page) => ({
    ...page,
    title: page.title,
    keywords: page.keywords,
  }));
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body id="main-content-wrapper">
    <NeoThemeProvider initialMode="dynamic">
      <SiteHeader pathname={Astro.url.pathname} pages={pages} client:load />

      <div class="main__wrapper">
        <LeftNavigation pages={pages} />

        <main id="main-content">
          <slot />
        </main>
      </div>

      <SiteFooter />
    </NeoThemeProvider>

    <style is:global>
      :root {
        --header-height: 58px;
        --footer-height: 58px;

        /*
        --mobile-small-max-breakpoint: 671px;
        --mobile-max-breakpoint: 799px;
        --tablet-max-breakpoint: 1279px;
        */
      }

      body {
        font-size: 1rem;
        color: var(--global-font-color);
      }

      /* mobile */
      @media screen and (max-width: 799px) {
        :root {
          --header-height: 48px;
          --footer-height: 48px;
        }
      }

      a {
        text-decoration: none;
      }

      p {
        max-width: 80ch;
      }

      ul.numbered-list {
        list-style-type: decimal;
        margin: 0 0 0 1rem;
      }
    </style>

    <style>
      body {
        margin: 0;
      }

      body main {
        /* plus `1px` for border */
        --body-main-height: calc(
          100vh - var(--header-height) - var(--footer-height) - 1px
        );

        min-height: var(--body-main-height);
        max-width: 60rem;
        padding: 0 1rem 2rem 1rem;
        margin: auto;
      }

      .main__wrapper {
        display: flex;
      }

      @media screen and (max-width: 799px) {
        body main {
          --body-main-height: calc(
            100vh - var(--header-height) - (var(--footer-height) * 3) - 1px
          );
        }

        .main__wrapper {
          display: block;
          position: relative;
          overflow-x: hidden;
        }
      }
    </style>
  </body>
</html>

<script>
  function toggleLeftNavigation() {
    const leftNavigationElement = document.getElementById("left-navigation");

    if (leftNavigationElement?.classList.contains("left-navigation--active")) {
      leftNavigationElement.classList.remove("left-navigation--active");
      leftNavigationElement.classList.add("left-navigation--hidden");
    } else if (
      leftNavigationElement?.classList.contains("left-navigation--hidden")
    ) {
      leftNavigationElement.classList.add("left-navigation--active");
      leftNavigationElement.classList.remove("left-navigation--hidden");
    } else {
      leftNavigationElement?.classList.add("left-navigation--active");
    }
  }

  const elem = document.getElementById("main-content-wrapper");

  elem?.addEventListener("toggleLeftNavigation", () => toggleLeftNavigation());
</script>
