---
import { Description, PageleteSection, SectionHeader, InfoList, InfoListItem } from "components";

import { topics } from "../static";
const { id, title } = topics.regulations;

import { Link } from "@avaya/neo-react";

const standards= [
  {    
    link: `https://www.w3.org/WAI/standards-guidelines/wcag/`,
    title: "WCAG 2.1",
  },
  {
    link: `https://www.w3.org/WAI/standards-guidelines/aria/`,
    title: "ARIA 1.1",
  },
  {
    link: `https://www.section508.gov/`,
    title: "Section 508",
  }

];
---

<PageleteSection>
  <SectionHeader id={id}>{title}</SectionHeader>

  <Description>
    Neo targets Web Content Accessibility Guidelines (WCAG) 2.1 Level AA (used
    in many <Link inline href="https://www.w3.org/WAI/policies/" target="_blank" rel="noopener noreferrer">government regulations</Link> internationally), as well as Section 508
    regulations. More information can be found here.
  </Description>

  <InfoList type="'- '">
    {
      standards.map((item) => <InfoListItem label="" isLink={true}><a href={item.link} target="_blank" rel="noopener noreferrer">{item.title}</a></InfoListItem>)
    }
  </InfoList>
</PageleteSection>
